body {
    font-family: 'Montserrat', sans-serif;
}
.wood_types_change > span{
    padding-left: 0!important;
    padding-right: 0!important;
}
.br-sideleft {
    background-color: #212121;
}
.br-menu-link.active {
    background-color: #000;
}
.br-menu-link:hover, .br-menu-link:focus {
    background-color: #3E4551;
}
.types-tags > .bootstrap-tagsinput{
    background-color: #e9ecef!important;
}
.types-tags > .bootstrap-tagsinput > input{
    caret-color: black!important;
    color: black;
}
.br-menu-sub {
    background-color: #4B515D;
}
.br-menu-link.show-sub {
    background-color: #000;
}
.br-menu-sub .nav-link:hover, .br-menu-sub .nav-link:focus {
    color: #fff;
}
.br-menu-sub .nav-link:hover::before, .br-menu-sub .nav-link:focus::before {
    background-color: #fff;
}
.br-logo > a span {
    color: #212121
}
.gallery_photo:hover{
    cursor: pointer;
}
/*.nav-link .active{
    background-color: #212121!important;
    cursor: pointer!important;
    border-color: #212121!important;
}
.nav-link{
    background-color: #E9ECEF!important;
    border-color: #ddd #ddd #E9ECEF!important;
    color:black!important;
}*/

.nav-link-modal.active{
    color: #fff!important;
    background-color: #212121!important;
    border-color: #212121!important;   
}
.nav-link-modal{
    border: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
    padding: 0.5rem 1rem;
    color:black;
}
.nav-link-modal:hover{
    border-color: #e9ecef #e9ecef #ddd;
    color:black;
}
.modal-pagination, .modal-pagination-ul{
    background:white;
}
.user-profile-nav .icon {
    color: #212121
}
.gallery_box {
  column-count: 3;
  column-gap: .6em;
  background-color: white;
}
.add-file-modal{
    background-color:white!important;
}
.sidebar-tabs {
    background-color: #212121;
}
.sidebar-tabs .nav-link.active {
    background-color: #3E4551;
    color: #fff;
}
.tab-content > .active {
    background-color: #3E4551;
}
.sidebar-datepicker .ui-datepicker-calendar thead th {
    color: #fff;
}
.tx-info {
    color: #212121    
}
.btn-info {
    background-color: #212121;
    cursor: pointer;
    border-color: #212121;
}
.btn-info:hover {
    background-color: #000;
    border-color: #000;
}
.link:hover {
    color: #000 !important;
}
.form-control:focus, .dataTables_filter input:focus {
    border-color: #000;
}
button {
    cursor: pointer;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #212121;
}
.custom-file-control-inverse::before {
        background-color: #212121;  
}
.custom-file-control:lang(en)::before {
    content: "Przeglądaj";
}
.custom-file-control:lang(en):empty::after {
    content: "Wybierz plik...";
}
#alert-box {
    padding: 10px;
    color:white;
    border-radius: 3px;
    font-weight: 700;
    background-color: #212121;
    margin-bottom: 20px;
    display: inline-table;
}
.popover {
    z-index: 2001;
}
.more {
    cursor: pointer;
}
.subpage-keywords > .bootstrap-tagsinput, .subpage-keywords > .bootstrap-tagsinput > input{
    background-color: #e9ecef!important;
    caret-color: #495057!important;
    color: #495057!important;
}
.bootstrap-tagsinput {
    background-color: #18222f;
    border: 0;
    color: rgba(255, 255, 255, 0.6);
}
.bootstrap-tagsinput .label {
    background-color: #4B515D;
}
input {
    color: rgba(255, 255, 255, 0.6);
}
.btn {
    cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus {
    background-color: #212121;
}
#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #ECF0F1;
  /* display: none; */
}
#status {
	top: 40%;
	left: 50%;
	position: absolute;
}
.sk-double-bounce .sk-child {
  border-radius: 0%;
}
.sk-double-bounce {
  width: 83px;
  height: 83px;
}
.delete_photo:hover {
    background-image: url(http://cynkmal.przedprojekt.com/application/views/images/x-button.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.delete_photo img:hover {
    opacity: 0.4;
}
.cursor {
    cursor: pointer;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: inline-block;
}
.logged-name {
    vertical-align: top;
    margin-top: 7px;
}
.br-menu-sub .nav-link.active {
    color: white;
}
.br-menu-sub .nav-link.active::before {
    background-color: #fff;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    color: black;
}